#*

# NOTE: Explicit matches will be maintained here until the codebase is fully back in Git

# archives/ should never be tracked
archives/

# include/ should never be tracked
include/

# lib/ should never be tracked
lib/

# Track nothing in test b/c this is for testing only.
# TODO: This should probably be installed somewhere else.
test/**

# Track all source code
!src/

# Leave the top-level Makefile off
Makefile

# Leave this off as it's for testing quickly
conf.sh

# Leave these off for now
src/ctx/ctx-dns.h
src/ctx/ctx-return.c
src/ctx/ctx-return.h
