# Track nothing and add by force
Makefile
TODO
src.vim
configure.scan
*.log
*.o

autom4te.cache/
artwork/
bin/
build/
docs/
example/
include/
lib/
src/tim
tests/
tmp/
vendor/*tar.gz
vendor/*zip
vendor/libgit*
vendor/src/
