[Unit]
Description=Hypno, a Lua-based web and application server.
DefaultDependencies=no
After=network.target

[Service]
Type=simple
ExecStart=__PREFIX__/bin/hypno-server --start --port __WWWPORT__ --user __SRVUSER__ --group __SRVGROUP__ --configuration __WWWROOT__/config.lua --access-file __LOGDIR__/hypno.access.log --log-file __LOGDIR__/hypno.error.log
Restart=on-failure
RestartSec=20s

[Install]
WantedBy=multi-user.target
