[Unit]
Description=Hypno, a Lua-based web and application server.
DefaultDependencies=no
After=network.target

[Service]
Type=simple
ExecStart=__PREFIX__/bin/hypno-server --start --port 80 --user __SRVUSER__ --group __SRVGROUP__ --config /home/ramar/www/config.lua
Restart=on-failure
RestartSec=20s

[Install]
WantedBy=multi-user.target
