[Unit]
Description=Hypno, a Lua-based web and application server.
DefaultDependencies=no
After=network.target

[Service]
#User=ramar
#Group=ramar
Type=simple
ExecStart=/usr/local/bin/hypno-server --start --port 80 --user http --group http --config /var/www/config.lua
Restart=on-failure

[Install]
WantedBy=multi-user.target
